<table align="center" border="0" cellpadding="0" cellspacing="5" height="100%" width="100%">
    <tbody>
        <tr>
            <td align="center">
                <a href="{{ site.baseurl }}">
                    <img src="{{ site.baseurl }}images/APBC2018logo.png" border="0" height="188" width="194">
                </a>
                <br />
            </td>
            <td valign="center">
                <br />
            </td>
            <td align="left"><b> </b>
                <font color="#142e63" size="+4" face="Bookman Old Style">
			              <b>APBC 2018</b>
                </font><br />
                <b>
                    <font color="#365085" size="+1">The </font>
			              <font color="#FF0000" size="+1">Sixteenth </font>
                    <font color="#365085" size="+1">
			                  <font color="#2200C1" size="+2">A</font>sia
				                <font color="#2200C1" size="+2">P</font>acific
				                <font color="#2200C1" size="+2">B</font>ioinformatics
				                <font color="#2200C1" size="+2">C</font>onference
                    </font>
                </b>
                <p>
                    <b><font color="#365085" size="4" face="Times New Roman">Yokohama, Japan, 15-17 January 2018</font></b>
                </p>
            </td>
        </tr>
    </tbody>
</table>
<p />
<table border="0" cellpadding="0"  cellspacing="0" align="left" valign="top">
		<tr id="linee" align="center">
			  <td><a><img src="{{ site.baseurl }}images/hiyoshi1.png" height="130"></a></td>
			  <td><a><img src="{{ site.baseurl }}images/hiyoshi2.png" height="130"></a></td>
			  <td><a><img src="{{ site.baseurl }}images/yokohama1.png" height="130"></a></td>
			  <td><a><img src="{{ site.baseurl }}images/yokohama2.png" height="130"></a></td>
			  <td><a><img src="{{ site.baseurl }}images/sumo.png" height="130"></a></td>
		</tr>
</table>
